%header
  .navbar.navbar-default.navbar-static-top{:role => "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => "#responsive-menu", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Открыть навигацию
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to "Home", root_path ,class: "navbar-brand"
      #responsive-menu.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li
            %a{:href => "#"} Пункт 1
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Развернуть меню
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to "First", first_path
              %li
                = link_to "Second", second_path
              %li
                = link_to "Third", third_path
              %li.divider
              %li
                = link_to "Four", fourth_path
          %li
            %a{:href => "#"} Пункт 3
          %li
            %a{:href => "#"} Пункт 4
        %ul.navbar-right.navbar-nav.nav
          %li
            %a{:href => "#"} Registration
          -# Выпадающее меню с формой входа
          %li
            %button.btn.btn-link.btn__nav{:type=>"button", "data-placement" => "bottom", "data-toggle" => "popover", :title => "<h3 class='text-center in__but'>Sign in </h3>", "data-content" => "<form action=''><div class='form-group'><input type='text' class='form-control' placeholder='E-mail' value=''></div><div class='form-group'><input type='password' class='form-control' placeholder='Password' value=''></div><button type='submit' class='btn btn-primary btn__lar'><i class='fa fa-sign-in'></i> ВОЙТИ</button></form>"} Sign in